<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_HEALTH" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
  <application>
    <service
      android:name=".RecordingImuService"
      android:exported="false"
      android:foregroundServiceType="health"
      android:stopWithTask="false" />
  </application>
</manifest>
